

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <div class="container">
    <table border="2">
        <tr>
            <th>id</th>
            <th>telefone</th>
            <th>email</th>
        </tr>
        {% for usuario in usuarios %}
        <tr>
            <td>{{usuario.nome}}</th>
            <td>{{usuario.telefone}}</th>
            <td>{{usuario.email}}</th>
        </tr>
        {% endfor %}
    </table>  
  </div>  
  
 
   
   <style>
        body{
            display: flex;
            background-color: black;
            justify-content: center;
            align-items: center;
            color: aliceblue;

        }
    </style>


</body>
</html>