

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crie uma conta</title>
</head>
<body>
<div>
    <h1>
        crie sua conta
    </h1>
</div>
    <form action="p" method="post"> 
        <label for="nome completo">nome:</label>
        <input type="text" placeholder="nome completo" id="" name="">
        
        <label for="sobre nome:">sobre nome:
            <input type="text" id="sobre nome" placeholder="sobre nome" autofocus>
        </label>

        <label for="tel">telefone:</label>
            <input type="tel" placeholder="numero de telefone">
        
        <label for="email">email:</label>
            <input type="email" placeholder="email" id="email">
        
            <label for="password">crie sua senha:</label>
                <input type="password" placeholder="sua senha" id="senha" name="senha">
            
            <label for="password">cofirme sua senha:</label>
                <input type="password" placeholder="sua senha" id="senha" name="senha">
            <form>
        
        
        
        <nav>
            <a href="pagina1.html">voltar</a>
            <a href="pagina3.html">ENVIAR</a>
        </nav>
        
       
</body>
</html>